<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <sensor name="bmp581_barometer" type="air_pressure">
            <always_on>true</always_on>
            <update_rate>30.0</update_rate>
            <topic>/bmp581/air_pressure</topic>
            <visualize>false</visualize>
            <air_pressure>
                <reference_altitude>0.0</reference_altitude>
                <pressure>
                    <noise type="gaussian_quantized">
                        <mean>0.0</mean>
                        <stddev>0.21</stddev>
                        <bias_mean>0.0</bias_mean>
                        <bias_stddev>10.0</bias_stddev>
                        <precision>0.015625</precision>
                    </noise>
                </pressure>
            </air_pressure>
        </sensor>
    </gazebo>

</robot>